.button {
  width: 50px;
  height: 50px;

  border: none;
  outline: none;

  background-color: transparent;

  padding: 10px;
  cursor: pointer;
}

.button svg {
 fill: var(--color-button-send);
}

.button:hover svg {
  fill: var(--color-button-send-hover);
}

.button:disabled {
  pointer-events: none;

  opacity: .4;
}

.button:disabled svg {
  fill : var(--color-button-desabled);
}
