.navigation {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.links .link {
  border-top: 1px solid var(--color-border);
}

.links .link:last-of-type {
  border-bottom: 1px solid var(--color-border);
}

.links .link_label {
  font-size: 20px;
}

.controls {
  margin-top: auto;
}

@media (min-width: 992px) {
  .links .link_label {
    font-size: 18px;
  }
}