.header {
  padding: 14px;
  min-height: 65px;
  max-height: 65px;

  box-shadow: var(--shadow-main);

  border-bottom: 1px solid var(--color-border);
}

.container {
  display: flex;
  justify-content: flex-end;
}

.controls {
  display: flex;
  align-items: center;

  gap: 10px;
}