.drawer {

}

.drawer .drawer_content {
  padding: 0
}
.drawer .drawer_body {
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.links .link_label {
  font-size: 22px;
}

.button_logout {
  margin-top: auto;
  margin-left: 0.75rem;
}
