.container {
  display: flex;
}

.leftbar {
  display: none;
}

.content {
  flex-grow: 1;
}

@media (min-width: 992px) {
  .leftbar {
    display: block;
    width: 250px;
    height: calc(100dvh - 65px);

    padding: 50px 0;

    border-right: var(--border-main);
  }
}