.scrollArea {
  width: 100%;

  flex-grow: 1;
  background-color: #F8F9FA;

  box-shadow: var(--shadow-main);

}

.messagesFiled {
  height: 100%;
  padding: 30px 15px;

  /*display: flex;*/
  /*flex-direction: column;*/

  /*overflow: hidden;*/
}

