.message {
  background: var(--bg-message);
  color: var(--color-message-text);

  border-radius: 15px;
  box-shadow: var(--shadow-message);
  position: relative;

  margin-bottom: 30px;

  max-width: 85%;
  min-width: 150px;
}

.message.isUser {
  margin-left: auto;

  background-color: var(--color-theme);
  color: var(--color-message-text-user);
}

.message:last-child {
  margin-bottom: 0;
}

.text {
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}



.icon_sound svg {
  fill: var(--color-theme);
}

.icon_sound.isUser svg {
  fill: var(--color-message-text-user);
}

.userName {
  font-size: 14px;
  color: var(--color-bot);

  text-decoration: underline;
}

.user {
  color: var(--color-user);
}

.bubbleArrow {
  position: absolute;
  width: 0;
  bottom: 42px;
  left: -16px;
  height: 0;
}

.bubbleArrow.isUser {
  right: -2px;
  bottom: 40px;
  left: auto;
}

.bubbleArrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 9px solid var(--bg-message);
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(145deg);
}

.bubbleArrow.alt:after {
  border-top: 9px solid var(--bg-message-user);
  transform: rotate(45deg) scaleY(-1);
}

.date {
  margin-top: 10px;
  color: var(--color-message-date);
  text-align: right;

  font-size: 14px;
}

.date.isUser {
  color: var(--color-message-date-user);
}